$sm: 320px;
$md: 768px;
$lg: 1024px;

@mixin sm {
  @media (min-width: ($sm)) {
    @content;
  }
}

@mixin md {
  @media (min-width: ($md)) {
    @content;
  }
}

@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}

footer {
  @include sm {
  font-size: 13px;
  padding: 0;
  background: peachpuff;
  text-align: center;
  }
  
  @include md {
    font-size: 20px;
    }
}

.footer-ul {
  @include sm {
    list-style: none;
    display: flex;
  }
}

.footer-list {
  @include sm {
    margin: 5px;
  }
}
.infos {
  @include sm {
    margin-right: 20px;
  }

  @include md {
    margin-right: 20px;
  }

  @include lg {
    margin-right: 20px;
  }
}

.sns {
  display: flex;
  @include sm {
    margin: 5px 50px;
  }
  @include md {
    width: 180px;
    padding: 0 200px 0 250px;
  }

  @include lg {
    padding: 0 200px 0 400px;
  }
}
.social {
  @include sm {
    display: flex;
    list-style: none;
    font-size: 13px;
  }
  
  @include md {
    display: flex;
    list-style: none;
    font-size: 20px;  
  }
  
  @include lg {
    display: flex;
    list-style: none;
    font-size: 20px;
  }
}

.twitter-icon {
  @include sm {
    font-size: 25px; 
  }
  
  color: #55acee; 
  margin-left: 10px;
} 

.facebook-icon {
  color: #315096; 
  margin-left: 10px;   
  @include sm {
    font-size: 25px; 
  }     
} 


.footer-menu {
  text-align: center;
}
