$sm: 320px;
$md: 768px;
$lg: 1024px;

@mixin sm {
  @media (min-width: ($sm)) {
    @content;
  }
}

@mixin md {
  @media (min-width: ($md)) {
    @content;
  }
}

@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}

.footer {
  @include sm {
  list-style: none;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  }
  
  @include md {
    font-size: 20px;
    }
}

.infos {
  @include sm {
    margin-right: 20px;
  }

  @include md {
    margin-right: 20px;
  }

  @include lg {
    margin-right: 20px;
  }
}

.social {
  @include sm {
    display: flex;
    list-style: none;
    font-size: 13px;
  }
  
  @include md {
    display: flex;
    list-style: none;
    font-size: 20px;
  }
  
  @include lg {
    display: flex;
    list-style: none;
    font-size: 20px;
  }
}

.twitter-icon { 
  font-size: 35px; 
  color: #55acee; 
  margin-left: 10px;
} 

.facebook-icon { 
  font-size: 35px; 
  color: #315096; 
  margin-left: 10px;         
} 

.insta-icon {/*アイコンの背景*/ 
  font-size: 35px; 
  color: black; 
  margin-left: 10px;  
} 

.pinterest-icon {
  font-size: 35px; 
  color: #ce0f19; 
  margin-left: 10px;     
}