$sm: 320px;
$md: 768px;
$lg: 1024px;

@mixin sm {
  @media (min-width: ($sm)) {
    @content;
  }
}

@mixin md {
  @media (min-width: ($md)) {
    @content;
  }
}

@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}

.image {
  @include sm {
    width: 80px;
    height: 80px;      /* ※縦横を同値に */ 
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */ 
    background-position: left top;  /* 横長画像の左上を基準に表示 */ 
    margin-bottom: 10px;
    // box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
    border: solid 1px lightgray; 
  }
  @include md {
    margin: 0;
    width: 60px;
    height: 60px;
  }
  @include lg {
    // width:  180px;       /* ※縦横を同値に */ 
    // height: 180px;       /* ※縦横を同値に */ 
    // border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */ 
    // background-position: left top;  /* 横長画像の左上を基準に表示 */ 
    // margin-bottom: 10px;
    // box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
    // border: solid 1px lightgray; 
  }
} 

.image:hover {
  opacity: 0.5;
}

.image-space {
  @include sm {
    margin-right: 10px;
    display: flex;
  }
  // @include md {
  //   display: block;
  // }
  @include lg {

  } 
} 

.menu-card {
  display: flex;
  @include sm {
    display: none;
  }

  @include md {
    display: flex;
    flex-wrap: wrap;
    margin: 0 110px;
  }

  @include lg {
    width: 600px;
    padding: 0;
    margin: 0 220px;
  }
} 

.food-head {
  text-align: center;
  font-size: 15px;
  @include sm {
    width: 150px;
    padding-top: 25px;
    color: orange;
    border-bottom: dashed 1px lightgray;
    margin-bottom: 10px;
  }
  @include lg {
    width: 120px;
  }
}


.random-menu-disp {
  @include sm {
    display: flex;
    flex-wrap: wrap;
  }

  @include lg {
    padding: 10px 35px;
  }
}

.random-menu-card {
  border: dotted 1px orange;

  @include sm {
    display: flex;
    width: 260px;
    height: 100px;
    margin: 5px;
  }

  @include md {
    margin: 10px;
    display: block;
    width: 155px;
    height: 230px;
  }
  @include lg {
    width: 208px;
    height: 300px;
    margin: 5px;
  }
}

.card-img {
  // box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border: solid 2px beige;
  @include sm {
    width: 100px;
    height: 100px;
  }

  @include md {
    width: 155px;
    height: 155px;
  }
  @include lg {
    width: 204px;
    height: 200px;
  }
}

.card-info-container {
  @include sm {
    width: 160px;
    height: 100px;
    text-align: center;
    color: tomato;
    font-size: 11px;
    padding: 0 5px;
  }
  @include md {
    width: 155px;
    height: 80px;
  }
}

.menu-img-container  {
  @include sm {
    width: 100px;
    height: 100px;
  }
  @include md{
    margin: 0;
    height: 155px;
  }
  @include lg {
    width: 200px;
    height: 200px;
  }
}

.menu-img-container p {
  @include sm {
    margin: 0;
  }
  @include md {
    margin: 0;
    height: 155px;
  }
}

#name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include md {
    margin: 0;
    font-size: 13px;
    text-align: left;
    padding: 5px;
  }

  @include lg {
    font-size: 15px;
  }
}

.menu {
  @include md {
    display: flex;
    flex-wrap: wrap;
    margin: 0 110px;
  }
  @include lg {
    margin: 0 190px;
  }
}

.menu-list {
  @include sm {
    display: none;
  }
  @include md {
    display: flex;
    margin: 0 150px;
    border-top: dotted 3px orange;
    padding-top: 10px;
    border-bottom: dotted 3px orange;
  }
  @include lg {
    margin: 10px 290px;
    width: 400px;
  }
}

.menulist {
  @include md {
    width: 70px;
    margin: 5px;
  }
}

.food-head-list {
  @include md {
    font-size: 13px;
    text-align: center;
  }
}