@media(max-width: 480px) {

}

@media(max-width: 768px) {

}

@media(max-width: 1440px ) {
  
  nav {
    display: flex;
  }

  h4 {
    margin-right: 300px;
  }

  .links-container {
    list-style: none; 
    display: flex; 
  }

  .links-container li {
    text-align: center; 
    margin-right: 15px;
  }

  .links-container li a { 
    text-decoration: none;
  }

  .links {
    margin-right: 10px;
  }
}