@import 'navbar';
@import 'links-container';
@import 'search-container';
@import 'menu-card';
@import 'pictures-container';
@import 'more-info';
@import 'footer';
@import 'products';
@import 'contact';
@import 'modal';
@import 'reciperesult';
@import 'wine';
@import 'recipesearch';

$sm: 320px;
$md: 768px;
$lg: 1024px;

body {
  margin: 0;
  padding: 5px;
  background: #f5deb3; 
  font-family: 'Courier';
  color: #696969;
  counter-reset: number;
}

#container {
  margin: 10px;
  padding: 10px;
  background: white;
  border: solid 1px lightgray;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.title {
  text-align: center;
}

a, a:visited {
  color: lightgray;
}