@import 'navbar';
@import 'links-container';
@import 'search-container';
@import 'menu-card';
@import 'pictures-container';
@import 'more-info';
@import 'footer';

$sm: 320px;
$md: 768px;
$lg: 1024px;
